.jumbotron {
  background: url("../../assets/images/business.jpg") no-repeat center center;
  background-size: cover;
  height: 25rem; 
}

.container{
  margin-top: 3.5rem;
}

.thumbnail{
  margin-bottom: 2rem;
}

